*::before, *::after {
    box-sizing: border-box; 
}


.carousel {
    width: 100vw;
    height: 90vh;
    position: relative;
}
  
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
  
.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
  
.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}
  
.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}
  
.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}
  
.carousel-button:focus {
    outline: 1px solid black;
}
  
.carousel-button.prev {
    left: 1rem;
}
  
.carousel-button.next {
    right: 1rem;
}

.hallo {
    position: absolute;
    top: 32.5vh;
    left: 20vw;
    width: 600px;
    z-index: 99;
    color:white;
    background-color:rgba(87, 120, 51, 0.25);
    backdrop-filter: blur(50px);
    padding: 20px;
    border-radius: 30px;
    
    
}
.hallo h1 {
    font-size: 70px;
    line-height: 75px;
}

@media (max-width: 992px) {
    .hallo {
        left: 15vw;
        width: 575px;
    }
}

@media (max-width: 800px) { 
    .hallo {
        top: 23vh;
        left: 12.5vw;
        width: 75%;
    }
    .hallo h1 {
        font-size: 45px;
        line-height: 55px;
    }
}
